<h1><%= @person.name %></h1>
<h5><%= @person.age %></h5>

<%= link_to "EDIT", edit_person_path(@person)  %>
<%= link_to "BACK", people_path  %>
<%= link_to "Destroy", person_path(@person), method: :delete %>